.orders {
  padding: 20px 80px;
}

.orders > h1 {
  margin: 30px 0;
}

/* ---------------------Media Query Small screen --------------- */

@media (max-width: 650px) {
  .orders {
    padding: 0 ;
  }
 
}