.order {
  padding: 40px;
  margin: 20px 0;
  border: 1px solid lightgray;
  background-color: white;
  position: relative;
}

.order__id {
  position: absolute;
  top: 40px;
  right: 20px;
}

.order__total {
  font-weight: 500;
  text-align: right;
}
/* ---------------------Media Query Small screen --------------- */

@media (max-width: 650px) {

  .order__id{
    position: relative;
    padding: 17px 0px;
    top: 0;
    right: 0;
  }
}
